<h1 mat-dialog-title i18n="@@rating.text.title">Aufgabe Bewerten</h1>
<mat-dialog-content>
  <p i18n="@@rating.text.howto">Wie würden sie diese Aufgabe bewerten?</p>
  <star-rating (rate)="onRate($event)" [checkedcolor]="checkedColor" [readonly]="false" [size]="size"
               [totalstars]="5"
               [uncheckedcolor]="uncheckedColor" value="0"></star-rating>
  <form (ngSubmit)="submitRating()" [formGroup]="ratingForm" class="margin-top3" id="rForm">
    <mat-form-field appearance="outline">
      <mat-label i18n="@@rating.text.optionaldescription">Optionale Beschreibung</mat-label>
      <textarea
        matAutosizeMaxRows=5
        matAutosizeMinRows=1
        matInput
        matTextareaAutosize
        formControlName="description"
        tabindex="-1">
      </textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="user-rating-button-container">
    <button (click)="onNoClick()" class="tg-primary full-width margin-top3"
            mat-flat-button i18n="@@rating.text.cancel">
      Abbrechen
    </button>
    <button [disabled]="role === 'requester' && rating.rating === 0" form="rForm"
            class="tg-primary full-width margin-top3"
            mat-flat-button
            type="submit" i18n="@@rating.text.submit">
      Abschließen
    </button>
  </div>
</mat-dialog-actions>
