@import "main";

:host {
  width: 100%;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-text {
  margin-right: $space1;
  color: $tg-primary
}

.user-rating-button-container {
  margin-top: $space2;
  display: flex;
  justify-content: center;
}
