<div *ngIf="user; else spinner" class="settings-container">
  <tg-user-image-upload [user]="user"></tg-user-image-upload>
  <div class="margin-top3 email-label" i18n="@@settingsEmail">Email</div>
  <div>{{user.email}}</div>
  <form [formGroup]="accountForm" class="settings-form margin-top2">

    <mat-form-field>
      <mat-label i18n="@@settingsFirstName">Vorname</mat-label>
      <input formControlName="firstName" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n="@@settingsLastName">Nachname</mat-label>
      <input formControlName="lastName" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n="@@settingsPhone">Telefonnummer</mat-label>
      <input formControlName="phoneNr" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n="@@settingsDescription">Beschreibung</mat-label>
      <textarea #autosize="cdkTextareaAutosize"
                cdkAutosizeMaxRows="5"
                cdkAutosizeMinRows="1"
                cdkTextareaAutosize
                formControlName="description"
                matInput></textarea>
    </mat-form-field>

    <div class="margin-top1 email-label" i18n="@@settingsRadius">Aufgabenradius</div>
    <mat-slider (change)="onSlideChange($event)"
                [displayWith]="distanceLabel"
                [max]=maxDistance
                [min]=minDistance
                [step]="1"
                [value]="user.distance"
                thumbLabel></mat-slider>

    <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>

    <tg-progress-button [isLoading]="isLoading"
                        [onClick]="updateUser.bind(this)" class="margin-top3"
                        i18n="@@settingsButtonChange">Ändern
    </tg-progress-button>

  </form>

</div>
<ng-template #spinner>
  <tg-tugood-spinner [$request]="user$"></tg-tugood-spinner>
</ng-template>
