@import "main";

:host {
  width: 100%;
}

.settings-container {
  padding: $space2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.email-label {
  font-size: 12px;
  color: rgba(0, 0, 0, .54);
  margin-bottom: 9px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: $tg-primary;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: $tg-primary;
  height: 35px !important;
  width: 35px !important;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: $tg-primary;
}
