@import "main";

.toolbar-style {
  background-color: $tg-secondary;
  color: #ffffff;
}

.flexExpand {
  flex: 1 1 auto;
}

.tugood-image {
  background-image: url('src/assets/img/tg.svg');
  background-size: cover;
}

.documentation-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.documentation-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.how-to-text {
  padding: 20px;
  white-space: pre-wrap;
  font-size: medium;
}

.highlighted-text {
  color: $tg-secondary;
}
