<mat-toolbar class="toolbar-style">
  <mat-toolbar-row>
    <h1>Shöpping - TUgood Karma Demo</h1>
    <span class="flexExpand"></span>
    <div>
      <a [routerLink]="'/tugood-interaction'" mat-button> Karma-Demo </a>
      <a [routerLink]="'/documentation'" mat-button> Documentation </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="documentation-column">
  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>Step 1 - Request: TUgood Authentication URL</mat-card-title>
      <mat-card-subtitle>Direct to the provided URL in order to let the user authenticate with TUgood.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="how-to-text">
        <span class="highlighted-text">https://auth.dev.tugood.team/auth/realms/tugood/protocol/openid-connect/auth<br></span>
        ?client_id=<span class="highlighted-text">shoepping<br></span>
        &redirect_uri=<span class="highlighted-text">https://demo.tugood.team/tugood-interaction<br></span>
        &scope=<span class="highlighted-text">openid<br></span>
        &response_type=<span class="highlighted-text">code<br></span>
        &response_mode=<span class="highlighted-text">query<br></span>
        &nonce=<span class="highlighted-text">xhhxeebwq9</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>Step 1 - Response: Authentication Code</mat-card-title>
      <mat-card-subtitle>Retrieve the authentication code.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        After successful authentication with TUgood you will be redirected to the specified
        <span class="highlighted-text">redirect_uri</span> and receive an authentication code via a
        query parameter called <span class="highlighted-text">code</span>. Such authorisation code looks something
        like the following:
      </p>
      <div class="how-to-text highlighted-text">
        da1993ce-76a7-4a67-911d-3321f465deb7.044a92e2-28d5-48b2-b9ab-097f8929fdc4.6646aea4-7003-4eb1-8911-5521bf08f8d6
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>Step 2 - Request: Exchange code for tokens</mat-card-title>
      <mat-card-subtitle>Now you need to exchange the authorization code for tokens using the token endpoint.
        This step involves the client secret you have received from us.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        You have to send a POST request to the to the token endpoint with the provided query parameters set.
      </p>
      <div class="how-to-text">
        <span class="highlighted-text">POST https://auth.dev.tugood.team/auth/realms/tugood/protocol/openid-connect/token<br></span>
        Content-Type: <span class="highlighted-text">application/x-www-form-urlencoded<br><br></span>

        <p>Query parameters:<br>
        <p>
          grant_type=<span class="highlighted-text">authorization_code<br></span>
          code=<span class="highlighted-text">da1993ce-76a7-4a67-911d-3321f465deb7.044a92e2-28d5-48b2-b9ab-097f8929fdc4.6646aea4-7003-4eb1-8911-5521bf08f8d6<br></span>
          client_id=<span class="highlighted-text">shoepping<br></span>
          client_secret=<span class="highlighted-text">{{'{'}}client_secret{{'}'}}<br></span>
          redirect_uri=<span class="highlighted-text">https://demo.tugood.team/tugood-interaction</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>Step 2 - Response: Exchange code for tokens</mat-card-title>
      <mat-card-subtitle>Obtain the refresh_token.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="how-to-text">
        You will then receive a token, which includes the fields <span class="highlighted-text">refresh_token</span> and
        <span class="highlighted-text">access_token</span>. The <span class="highlighted-text">refresh_token</span>
        needs
        to be stored by your application for the specific user and can be used to retrieve an <span
        class="highlighted-text">access_token</span>.
        You can use the <span class="highlighted-text">access_token</span> to request the TUgood endpoints, to interact
        with the provided endpoints which will be described later on. The <span
        class="highlighted-text">refresh_token</span>
        will be valid until it has not been used in 30 days.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>Step 3 - Request: Access token</mat-card-title>
      <mat-card-subtitle>Obtain the access_token using the refresh_token.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        You have to send a POST request to the to the token endpoint with the provided query parameters set.
      </p>
      <div class="how-to-text">
        <span class="highlighted-text">POST https://auth.dev.tugood.team/auth/realms/tugood/protocol/openid-connect/token<br></span>
        Content-Type: <span class="highlighted-text">application/x-www-form-urlencoded<br><br></span>

        <p>Query parameters:<br>
        <p>
          client_id=<span class="highlighted-text">shoepping<br></span>
          grant_type=<span class="highlighted-text">refresh_token<br></span>
          refresh_token=<span class="highlighted-text">{{'{'}}your_obtained_refresh_token{{'}'}}<br></span>
          client_secret=<span class="highlighted-text">{{'{'}}client_secret{{'}'}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>Step 3 - Response: Access token</mat-card-title>
      <mat-card-subtitle>Obtain the access_token from response.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="how-to-text">
        You will then receive a token, which includes the field <span class="highlighted-text">access_token</span>.
        This <span class="highlighted-text">access_token</span> can the be used to query the provided TUgood endpoints.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="documentation-card">
    <mat-card-header class="center-elements">
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>TUgood API Documentation</mat-card-title>
      <mat-card-subtitle>OpenAPI documentation of the TUgood exposed endpoints.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-swagger-ui></app-swagger-ui>
    </mat-card-content>
  </mat-card>
</div>
