<mat-tab-group animationDuration="0ms" class="full-height" mat-align-tabs="center" #tabGroup>
  <mat-tab label="{{givingHelpTab.name}}">
    <ng-template matTabContent>
      <tg-accept-match [tabGroup]="tabGroup"></tg-accept-match>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{activeMatchesTab.name}}">
    <ng-template matTabContent>
      <tg-match-list [emptyText]=emptyText
                     [historyText]=historyText
                     [matchRole]="role"></tg-match-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
