@import "main";

.spinner-container {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: black;
}
