<button (click)="onClick()" class="tg-primary full-width" mat-flat-button type="submit">
  <ng-container *ngIf="!isLoading && !isDone">
    <ng-content></ng-content>
  </ng-container>
  <mat-icon *ngIf="!isLoading && isDone">done</mat-icon>
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</button>
