<h2 mat-dialog-title>Failed to spend karma points.</h2>
<mat-dialog-content>
  <p> You do not have enough TUgood karma points to fulfill the requested transaction. </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close()" class="mat-raised-button close-button-container">Close</button>
</mat-dialog-actions>
