@import "main";

body,
main {
  max-height: 100vh;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .notification-area {
    height: 75vh;
    //  overflow-y: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;
  }

  > .empty-task-message {
    margin-top: $space1_5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-top: $space1_5;
    //transition: opacity 0.25s ease-in-out;
    //background-color: tint($tg-text-alt, 60%);
    //opacity: 0;
    margin-left: $space1_5;
    margin-right: $space1_5;
    height: max-content;
    width: auto;

    &.visible {
      opacity: 1;
    }

    .notification-content {
      display: grid;
      grid-template: auto auto / 50px 100px auto 40px;
      align-items: start;

      > .meta-info {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: span 2;

        display: grid;
        grid-template: auto auto / auto;
        > .slight {
          margin: 0;
          font-size: small;
          font-weight: bolder;
          color: tint($tg-text, 60%);
        }
      }
      > .meta-title {
        font-weight: bolder;
        grid-row-start: 1;
        grid-column-start: 3;
        margin: $space1;
      }
      > .circled-icon {
        grid-row-start: 2;
        background: $tg-primary;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 15px;
        align-self: center;
      }
      > .message {
        margin-left: $space3;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: span 2;
        justify-self: left;
        &.span-early {
          grid-column-start: 1;
          grid-column-end: span 3;
        }
      }
      > .close-button {
        background: none;
        border: none;
        grid-row-start: 2;
        grid-column-start: 4;
        justify-self: center;
        align-self: center;
        &:hover {
          color: indianred;
        }
      }
    }
  }
}
