<div *ngIf="!isInitialLoading; else spinner" class="container">
  <div
    *ngIf="notifications.length !== 0; else empty"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
    class="notification-area"
  >
    <mat-card
      *ngFor="let notification of notifications"
      class="card full-width"
      [ngClass]="{ visible: notification.visibility }"
    >
      <div class="notification-content">
        <div class="meta-info">
          <p class="slight">{{ getDateString(notification) }}</p>
          <p class="slight">{{ getTimeString(notification) }}</p>
        </div>
        <div class="meta-title">
          {{ notification.title }}
        </div>
        <mat-icon
          *ngIf="notification.icon"
          [class.mat-elevation-z3]="true"
          class="circled-icon fs7"
        >
          {{ notification.icon }}
        </mat-icon>
        <p class="message" [ngClass]="{ 'span-early': !notification.icon }">
          {{ notification.body }}
        </p>
        <button (click)="close(notification)" class="close-button">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </mat-card>

    <!-- Alert no more post -->
    <div
      *ngIf="notifications.length !== 0 && notificationsExhausted"
      class="full-width empty-task-message"
      i18n="@@notification.exhausted"
      style="justify-content: center; display: flex; margin-top: 15px;"
    >
      Keine weiteren Nachrichten vorhanden
    </div>
    <!-- spinner -->
    <div
      *ngIf="isLoading && notifications.length !== 0"
      class="full-width empty-task-message"
      style="justify-content: center; display: flex; margin-top: 15px;"
    >
      <div class="spinner-container">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="full-width empty-task-message" i18n="@@notification.empty">
    Keine Nachrichten vorhanden
  </div>
</ng-template>

<ng-template #spinner>
  <tg-tugood-spinner [$request]="$notifications"></tg-tugood-spinner>
</ng-template>
