@import "src/styles/main";

:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .empty-task-message {
    margin-top: $space1_5;
    margin-bottom: $space1_5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content {
  max-height: 265px;
  overflow: hidden;
}

mat-card {
  margin-top: $space1_5;
}

.container-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -$space1_5;
  // opacity: .4;
}

mat-expansion-panel-header {
  color: rgba(0,0,0,.87);
  font-size: $fs4;
  z-index: 1;
  position: relative;
  //opacity: 0.6;
}
