<ng-container *ngIf="loggedInUser; else userSpinner">
  <div *ngIf="matchList; else matchSpinner">
    <div *ngIf="matchList" class="container">
      <mat-card *ngFor="let match of matchList" [routerLink]="['/match/', match.id]">
        <div class="content">
          <tg-match [match]="match" [loggedInUser]="loggedInUser"></tg-match>
        </div>
      </mat-card>
      <div *ngIf="matchList.length === 0" class="empty-task-message">
        {{emptyText}}
      </div>
    </div>
  </div>
  <ng-template #matchSpinner>
    <tg-tugood-spinner [$request]="$matchList"></tg-tugood-spinner>
  </ng-template>
  <mat-divider *ngIf="historicList && historicList.length > 0"></mat-divider>
  <div>
    <mat-expansion-panel *ngIf="historicList && historicList.length > 0" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        {{historyText}}
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="container-history">
          <mat-card *ngFor="let history of historicList" [routerLink]="['/match/', history.id]">
            <div class="content">
              <tg-match [match]="history" [loggedInUser]="loggedInUser"></tg-match>
            </div>
          </mat-card>
        </div>
        <ng-template #historySpinner>
          <tg-tugood-spinner [$request]="$historicList"></tg-tugood-spinner>
        </ng-template>
      </ng-template>
    </mat-expansion-panel>
  </div>
</ng-container>

<ng-template #userSpinner>
  <tg-tugood-spinner [$request]="$loggedInUser"></tg-tugood-spinner>
</ng-template>
