<div class="create-request-container">
  <form [formGroup]="createRequestForm" class="create-request-form">

    <mat-form-field class="full-width">
      <mat-label i18n="@@create.request.main.text.date">Datum der Aufgabe</mat-label>
      <input [matDatepicker]="requestDatePicker" (click)="requestDatePicker.open()" [max]="maxDate" [min]="minDate"
             formControlName="startingDate" matInput
             readonly required>
      <mat-datepicker-toggle [for]="requestDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #requestDatePicker touchUi></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label i18n="@@create.request.main.text.starttime">Startzeitpunkt</mat-label>
      <input [format]="24" [ngxTimepicker]="fullTime" formControlName="startingTime" matInput readonly required>
      <ngx-material-timepicker #fullTime [cancelBtnTmpl]="cancelBtn"
                               [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>

      <ng-template #cancelBtn>
        <button class="tg-primary" mat-raised-button i18n="@@create.request.main.button.cancel">Abbrechen</button>
      </ng-template>
      <ng-template #confirmBtn>
        <button class="tg-primary" mat-raised-button i18n="@@create.request.main.button.finish">Fertig</button>
      </ng-template>


    </mat-form-field>

    <tg-address-field
      [addressFormGroup]="createRequestForm.get('requestLocation')"
      [addressFormFieldName]="'address'"
      (setAddress)="getAddress($event)"
      (keydown)="onAddressChange()"
    >
    </tg-address-field>

    <mat-form-field class="full-width">
      <mat-label i18n="@@create.request.main.text.description">Beschreibung der Aufgabe</mat-label>
      <textarea cdkAutosizeMinRows="5"
                cdkTextareaAutosize
                matInput
                formControlName="requestDescription" i18n-placeholder="@@create.request.main.text.whatshouldido" placeholder="Was soll ich genau tun?"></textarea>
    </mat-form-field>

    <div class="create-request-button-container">
      <button (click)="emitRequest()" [disabled]="!createRequestForm.valid" class="tg-primary full-width margin-top3"
              mat-flat-button
              type="submit" i18n="@@create.request.main.button.next">
        Weiter
      </button>
    </div>
  </form>
</div>
