@import "main";

:host {
  width: 100%;
}

.create-request-container {
  padding: $space2;
  margin-top: $space2;
}

.create-request-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.create-request-button-container {
  margin-top: $space2;
  display: flex;
  justify-content: center;
}


::ng-deep.timepicker {

  .timepicker__header {
    background-color: $tg-secondary !important;
  }

  .clock-face__clock-hand {
    background-color: $tg-secondary !important;

    &::after {
      background-color: $tg-secondary !important;
    }

    &::before {
      border-color: $tg-secondary !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: $tg-secondary !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #000000 !important;
  }
}
