<div [formGroup]="addressFormGroup">
  <mat-form-field class="full-width">
    <mat-label i18n="@@address.text">Adresse</mat-label>
    <input matInput formControlName="{{addressFormFieldName}}"
           type="text" i18n-placeholder="@@input.address" placeholder="Bitte gib eine Adresse an..."
           #addresstext required>
  </mat-form-field>
</div>
