@import "main";

:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .empty-task-message {
    margin-top: $space1_5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content {
  max-height: 268px;
  overflow: hidden;
}

.mat-card {
  margin-top: $space1_5;
}
