<div *ngIf="!isLoading; else spinner" class="container">
  <mat-card
    *ngFor="let helpRequest of helpRequestList"
    [routerLink]="['/help-request/', helpRequest.id]"
  >
    <div class="content">
      <tg-help-request [helpRequest]="helpRequest"></tg-help-request>
    </div>
  </mat-card>
  <div *ngIf="helpRequestList.length === 0"
    class="full-width empty-task-message"
    i18n="@@request.list.noopenrequests">
    Keine offenen Anfragen vorhanden.
  </div>
</div>

<ng-template #spinner>
  <tg-tugood-spinner [$request]="$helpRequestList"></tg-tugood-spinner>
</ng-template>
