<mat-tab-group animationDuration="0ms" class="full-height" mat-align-tabs="center">
  <mat-tab *ngFor="let view of viewTypes" label="{{view.name}}">
    <ng-template matTabContent>
      <tg-match-list *ngIf="view.type === matchTab.type" [matchRole]="role"
                     [emptyText]=emptyText
                     [historyText]=historicText></tg-match-list>
      <tg-help-request-list *ngIf="view.type === requestTab.type"></tg-help-request-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
