<div class="img-container">

  <div *ngIf="imagePath; else defaultImg" class="img-mask"
       [ngStyle]="{'background-image': getBackgroundImageUrl(imagePath), 'background-size': 'cover'}"></div>

  <ng-template #defaultImg>
    <mat-icon class="default-img">
      account_circle
    </mat-icon>
  </ng-template>
</div>
