@import "main";

$img-size: 85px;

.img-container {
  width: $img-size;
  height: $img-size;
}

.img-mask {
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

  &-error {
    display: none;
  }
}

.default-img { // to size it to the image size
  margin-left: -8px;
  margin-top: -8px;
  font-size: $img-size + 16;
  color: $tg-secondary;
}
