<mat-tab-group animationDuration="0ms" class="full-height" mat-align-tabs="center">
  <mat-tab *ngFor="let view of viewTypes" label="{{view.name}}">
    <ng-template matTabContent>
      <tg-notification *ngIf="view.type === notificationsTab.type"></tg-notification>
      <tg-karma *ngIf="view.type === karmaTab.type"></tg-karma>
    </ng-template>
  </mat-tab>
</mat-tab-group>
