<div class="container">

  <mat-spinner *ngIf="isLoading; else showImage" [diameter]="60"></mat-spinner>

  <ng-template #showImage>
    <tg-user-image [imagePath]="imagePath"></tg-user-image>
  </ng-template>

  <label class="mat-raised-button tg-primary">
    <span i18n="@@imageUploadButtonUpload">Bild auswählen</span>
    <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
  </label>


</div>


