@import "src/styles/main";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  display: none;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $tg-secondary;
}
