@import "main";

:host {
  height: 100%;
  width: 100%;
}

.category-button-list-container {
  margin-top: -$space2/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.category-button-container {
  background-color: $tg-primary;
  margin-top: $space2;
  width: 70%;
}

.mat-icon {
  height: 12px;
}
