<div class="category-button-list-container">
  <button *ngFor="let category of categories" (click)="onCategoryChange(category)" class="category-button-container"
          mat-raised-button>
    <mat-icon>{{getIcon(category)}}</mat-icon>
    <br>{{getName(category)}}
  </button>
</div>
