<div class="container-column-around">
  <div class="container-row full-width fs5 title-row">
    <div class="full-width">
      {{report.user.firstName}} {{report.user.lastName}}
    </div>
    <mat-basic-chip class="{{chipClass()}} ">{{getReportCause()}}</mat-basic-chip>
    <div class="full-width container-right">
      <mat-icon *ngIf="report.user.isWarned" class="warn-badge"
                i18n-matTooltip="@@abuse.display.isWarned"
                matTooltipPosition="right" matTooltip="wurde verwarnt">report
      </mat-icon>
      <div i18n="@@abuse.display.reports">
        Meldungen:  {{report.user.reportCount}}
      </div>
    </div>
  </div>
  <div class="container-row full-width report-card margin-top1">
    <div class="report-content container-column full-width">
      <div class="full-width margin-top1">
        {{report.description}}
      </div>
    </div>
    <div class="report-actions container-column-center size-width6">
      <button class="tg-negative full-width margin-top1" i18n="@@abuse.action.ban" mat-flat-button
              (click)="banUser()"
      >
        Sperren
      </button>
      <button class="tg-primary full-width margin-top1" i18n="@@abuse.action.warn" mat-flat-button
              (click)="warnUser()">
        Verwarnen
      </button>
      <button class="tg-neutral-lightest full-width margin-top1" i18n="@@abuse.action.delete" mat-flat-button
              (click)="deleteReport()">
        Löschen
      </button>
    </div>
  </div>
</div>
