@import "main";

:host {
  height: 100%;
}

.report-content {
  max-height: $size5;
  overflow: hidden;
}

.container-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.container-right {
  display: flex;
  flex-direction: row-reverse;
}

.title-row {
  max-height: $fs5;
}

.container-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-basic-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 2vh;
  pointer-events: none;
  width: 30%;
}

.chip-abusive {
  background-color: $tg-alert;
  color: #ffffff;
}

.chip-fake {
  background-color: $tg-alert;
  color: #ffffff;
}

.chip-discrimination {
  background-color: $tg-negative;
  color: #ffffff;
}

.chip-illegal {
  background-color: $tg-negative;
  color: #ffffff;
}


.chip-report-count {
  background-color: tint($tg-neutral, 70);
  color: #000000;
  width: auto;
}
