@import "main";

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-flex-end {
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.custom-icon {
  margin-right: $space1;
}

.circled-icon {
  background: $tg-primary;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 15px;
}
