<ng-container>
  <div class="container-row ">
    <div class="container-column-left">
      <mat-icon [class.mat-elevation-z3]="true" class="circled-icon fs9">{{getTaskIcon()}}</mat-icon>
    </div>
    <div class="container-column-right">
      <div class="fs7">{{getTime()}}</div>
      <div class="fs5">{{getDate()}}</div>
    </div>
  </div>
  <div class="container-row margin-top1">
    <div class="container-column-left">
      <div class="flex-column full-width margin-top1">
        <div class="flex-row flex-justify-space-between full-width">
          <div class="flex-row flex-align-items-center">
            <mat-icon class="custom-icon">location_on</mat-icon>
            <div>
              {{helpRequest.address.streetName}} {{helpRequest.address.streetNumber}} <br>
              {{helpRequest.address.postalCode}} {{helpRequest.address.city}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-column-right flex-justify-flex-end">
      <tg-map [tgLocation]="helpRequest.address.location"></tg-map>
    </div>
  </div>
  <div class="margin-top2">
    {{helpRequest.description}}
  </div>
</ng-container>
