<#import "template.ftl" as layout>
<@layout.registrationLayout; section>
  <#if section = "header">
    <div>
      <img class="kc-logo-wrapper" src="${url.resourcesPath}/img/tg.svg" height="150px">
    </div>
  <#elseif section = "form">
    <p class="instruction">
      ${msg("emailVerifyInstruction1")}
    </p>
    <p class="instruction">
      ${msg("emailVerifyInstruction2")} <a
              href="${url.loginAction}">${msg("doClickHere")}</a> ${msg("emailVerifyInstruction3")}
    </p>
  </#if>
</@layout.registrationLayout>
