<#import "template.ftl" as layout>
<@layout.registrationLayout displayInfo=true; section>
  <#if section = "title">
    ${msg((realm.displayName!''))?no_esc}
  <#elseif section = "header">
    <div>
      <img class="kc-logo-wrapper" src="${url.resourcesPath}/img/tg.svg" height="150px">
    </div>
  <#elseif section = "form">
    <form id="kc-passwd-update-form" class="form update-password ${properties.kcFormClass!}" action="${url.loginAction}"
          method="post">
      <input type="text" readonly value="this is not a login form" style="display: none;">
      <input type="password" readonly value="this is not a login form" style="display: none;">

      <div class="update-password-field ${properties.kcFormGroupClass!}">
        <div class="${properties.kcLabelWrapperClass!}">
          <label for="password-new" class="${properties.kcLabelClass!}">${msg("passwordNew")}</label>
        </div>
        <div class="${properties.kcInputWrapperClass!}">
          <input type="password" id="password-new" name="password-new" class="form-control ${properties.kcInputClass!}"
                 autofocus autocomplete="off"/>
        </div>
      </div>

      <div class="update-password-field ${properties.kcFormGroupClass!}">
        <div class="${properties.kcLabelWrapperClass!}">
          <label for="password-confirm" class="${properties.kcLabelClass!}">${msg("passwordConfirm")}</label>
        </div>
        <div class="${properties.kcInputWrapperClass!}">
          <input type="password" id="password-confirm" name="password-confirm"
                 class="form-control ${properties.kcInputClass!}" autocomplete="off"/>
        </div>
      </div>

      <div class="${properties.kcFormGroupClass!} row update-password-button-container">
        <div id="kc-form-options" class="${properties.kcFormOptionsClass!} col-xs-6 col-sm-8">
          <div class="${properties.kcFormOptionsWrapperClass!}">
          </div>
        </div>

        <div id="kc-form-buttons" class="${properties.kcFormButtonsClass!} col-xs-6 col-sm-4">
          <input class="btn btn-primary btn-flat btn-block ${properties.kcButtonClass!} ${properties.kcButtonPrimaryClass!} ${properties.kcButtonLargeClass!}"
                 type="submit" value="${msg("doSubmit")}"/>
        </div>
      </div>
    </form>
  </#if>
</@layout.registrationLayout>
