@import "main";

.account-linking-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-center-container {
  margin-top: 50px;
}

.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tugood-image {
  background-image: url('src/assets/img/tg.svg');
  background-size: cover;
}

.button-tg {
  background-color: $tg-primary;
}
