<div class="account-linking-container">
  <img alt="Shöpping Logo" src="../../assets/img/shoepping_logo_small.png">

  <div class="card-center-container">
    <mat-card [class.mat-elevation-z5]="true">
      <mat-card-header class="center-elements">
        <div class="tugood-image" mat-card-avatar></div>
        <mat-card-title>TUgood</mat-card-title>
        <mat-card-subtitle>Link your account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Click the button to link with TUgood.
        </p>
      </mat-card-content>
      <mat-card-actions class="center-elements">
        <button (click)="directToKeycloak()" class="button-tg" mat-raised-button>LINK</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

