<div *ngIf="!isLoadingMatches; else spinner" class="details-container">
  <ng-container *ngIf="matches.length > index; else noMatches">
    <ng-container *ngIf="$loggedInUser | async as loggedInUser; else userSpinner">
      <tg-match [match]="matches[index]" [loggedInUser]="loggedInUser"></tg-match>
      <button (click)="acceptMatch()" class="tg-primary full-width margin-top3" mat-flat-button
              i18n="@@accept.match.button.accept">
        Akzeptieren
      </button>
      <button (click)="rejectMatch()" class="margin-top2" mat-button i18n="@@accept.match.button.deny">
        Ablehnen
      </button>
    </ng-container>
  </ng-container>
  <ng-template #noMatches>
    <div class="full-width empty-matchList-message" i18n="@@accept.match.text.no.tasks">
      Keine Aufgaben mehr vorhanden
    </div>
  </ng-template>

  <ng-template #userSpinner>
    <tg-tugood-spinner [$request]="$loggedInUser"></tg-tugood-spinner>
  </ng-template>

</div>
<ng-template #spinner>
  <tg-tugood-spinner [$request]="$remaining"></tg-tugood-spinner>
</ng-template>
