@import "src/styles/main";

.empty-matchList-message {
  margin-top: $space1_5;
  text-align: center;
}

.details-container {
  padding: $space2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
