<mat-toolbar class="toolbar-style">
  <mat-toolbar-row>
    <h1>Shöpping - TUgood Karma Demo</h1>
    <span class="flexExpand"></span>
    <div>
      <a [routerLink]="'/tugood-interaction'" mat-button> Karma-Demo </a>
      <a [routerLink]="'/documentation'" mat-button> Documentation </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="center-elements">
  <img alt="Shöpping Logo" src="../../assets/img/shoepping_logo_small.png">
</div>

<div class="interaction-row">
  <mat-card [class.mat-elevation-z5]="true" class="card-style">
    <mat-card-header>
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>TUgood</mat-card-title>
      <mat-card-subtitle>Get your Karma points.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Click button to get your TUgood Karma balance.
      </p>
    </mat-card-content>
    <mat-card-actions class="center-elements">
      <button (click)="getKarma()" class="tg-primary" mat-raised-button>Get Karma</button>
    </mat-card-actions>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="card-style">
    <mat-card-header>
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>TUgood</mat-card-title>
      <mat-card-subtitle>Your current Karma balance.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="center-elements">
      <h1 *ngIf="currentKarma >= 0" class="display-balance">{{currentKarma}}</h1>
    </mat-card-content>
  </mat-card>

  <mat-card [class.mat-elevation-z5]="true" class="card-style">
    <mat-card-header>
      <div class="tugood-image" mat-card-avatar></div>
      <mat-card-title>TUgood</mat-card-title>
      <mat-card-subtitle>Link your account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="reduced-marg-bot">
      <p>
        Specify Amount of Karma to spend.
      </p>
      <form (ngSubmit)="spendKarma()" [formGroup]="karmaForm" id="karmaForm">
        <mat-form-field class="full-width">
          <mat-label>Karma to spend</mat-label>
          <input formControlName="karmaToSpend" matInput required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="center-elements">
      <button [disabled]="!karmaForm.valid" class="tg-primary" form="karmaForm" mat-raised-button type="submit">Spend
        Karma
      </button>
    </mat-card-actions>
  </mat-card>
</div>
