@import "main";

.toolbar-style {
  background-color: $tg-secondary;
  color: #ffffff;
}

.flexExpand {
  flex: 1 1 auto;
}

.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tugood-image {
  background-image: url('src/assets/img/tg.svg');
  background-size: cover;
}

.interaction-row {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-style {
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
}

.display-balance {
  font-size: xx-large;
}

.reduced-marg-bot {
  margin-bottom: -5px;
}
