@import "abstracts/variables";

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// ------------ Margin
.margin1 {
  margin: $space1;
}

.margin2 {
  margin: $space2;
}

.margin3 {
  margin: $space3;
}

.margin4 {
  margin: $space4;
}

.margin5 {
  margin: $space5;
}

.margin6 {
  margin: $space6;
}

.margin-top1 {
  margin-top: $space1;
}

.margin-top2 {
  margin-top: $space2;
}

.margin-top3 {
  margin-top: $space3;
}

.margin-top4 {
  margin-top: $space4;
}

.margin-top5 {
  margin-top: $space5;
}

// ------------ Padding

.padding1 {
  padding: $space1;
}

.padding2 {
  padding: $space2;
}

.padding3 {
  padding: $space3;
}

.padding4 {
  padding: $space4;
}

.padding5 {
  padding: $space5;
}

.padding6 {
  padding: $space6;
}

// ------------ Size
// - Width
.size-width1 {
  width: $size1;
}

.size-width2 {
  width: $size2;
}

.size-width3 {
  width: $size3;
}

.size-width4 {
  width: $size4;
}

.size-width5 {
  width: $size5;
}

.size-width6 {
  width: $size6;
}

.size-width7 {
  width: $size7;
}

.size-width8 {
  width: $size8;
}

.size-width9 {
  width: $size9;
}

.size-width10 {
  width: $size10;
}

// - Height
.size-height1 {
  height: $size1;
}

.size-height2 {
  height: $size2;
}

.size-height3 {
  height: $size3;
}

.size-height4 {
  height: $size4;
}

.size-height5 {
  height: $size5;
}

.size-height6 {
  height: $size6;
}

.size-height7 {
  height: $size7;
}

.size-height8 {
  height: $size8;
}

.size-height9 {
  height: $size9;
}

.size-height10 {
  height: $size10;
}

// ------------ Box shadows
.bs1 {
  box-shadow: $flying-shadow1;
}

.bs2 {
  box-shadow: $flying-shadow2;
}

.bs3 {
  box-shadow: $flying-shadow3;
}

.bs4 {
  box-shadow: $flying-shadow4;
}

.bs5 {
  box-shadow: $flying-shadow5;
}


// ------------ Border radius
.br-normal {
  border-radius: $tg-br-normal;
}

.br-soft {
  border-radius: $tg-br-soft;
}

.br-softer {
  border-radius: $tg-br-softer;
}

// ------------ Border
.bw-normal {
  border-width: 2px;
  @include default-border();
}

.bw-soft {
  border-width: 1px;
  @include default-border();
}

.bw-hard {
  border-width: 3px;
  @include default-border();
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}
