@import "main";

:host {
  width: 100%;
}

.report-user-container {
  padding: $space2;
  margin-top: $space2;
}

.report-user-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.report-user-button-container {
  margin-top: $space2;
  display: flex;
  justify-content: center;
}
