<div class="report-user-container">
  <form [formGroup]="reportUserForm" class="report-user-form">
    <mat-form-field class="full-width">
      <mat-label i18n="@@report.user.cause.label">Ursache</mat-label>
      <mat-select formControlName="reportCause">
        <mat-option *ngFor="let cause of userReportCauses" [value]="cause.value">
          {{cause.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label i18n="@@report.user.description.label">Problembeschreibung</mat-label>
      <textarea cdkAutosizeMaxRows="10"
                cdkAutosizeMinRows="5"
                cdkTextareaAutosize
                formControlName="reportDescription"
                i18n-placeholder="@@report.user.description.placeholder" matInput
                placeholder="Was ist passiert?">
      </textarea>
    </mat-form-field>

    <div class="report-user-button-container">
      <button (click)="submitUserReport()" [disabled]="!reportUserForm.valid" [routerLink]="['/']"
              class="tg-primary full-width margin-top3"
              i18n="@@report.user.form.submit.button"
              mat-flat-button type="submit">
        Bestätigen
      </button>
    </div>
  </form>
</div>
