@import "main";

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-text {
  margin-right: $space1;
  color: $tg-primary
}

.mat-icon {
  margin-left: -2px;
  margin-right: -2px;
  color: $tg-primary;
}
