<div class="rating-container">
  <ng-container *ngIf="rating, else noRating">
    <div class="rating-text">
      {{getRatingString()}}
    </div>
    <mat-icon class="star" *ngFor="let threshold of getRatingsLarger()">
      star
    </mat-icon>
    <mat-icon id="halfStar" *ngIf="rating % 1 >= halfStarThreshold && rating <= integerThresholds.length">
      star_half
    </mat-icon>
  </ng-container>
  <ng-template #noRating>
    <div i18n="@@star.rating.text">Keine Bewertungen</div>
  </ng-template>
</div>
