@import "abstracts/variables";
@import "abstracts/functions";

// - TUgood primary

.tg-primary-lightest {
  background-color: tint($tg-primary, 70);
  color: $tg-text;
}
.tg-primary-lighter {
  background-color: tint($tg-primary, 30);
  color: $tg-text;
}
.tg-primary {
  background-color: $tg-primary;
  color: $tg-text;
}
.tg-primary-darker {
  background-color: shade($tg-primary, 30);
  color: $tg-text-alt;
}
.tg-primary-darkest {
  background-color: shade($tg-primary, 70);
  color: $tg-text-alt;
}

// - TUgood secondary

.tg-secondary-lightest {
  background-color: tint($tg-secondary, 70);
  color: $tg-text;
}
.tg-secondary-lighter {
  background-color: tint($tg-secondary, 30);
  color: $tg-text;
}
.tg-secondary {
  background-color: $tg-secondary;
  color: $tg-text-alt;
}
.tg-secondary-darker {
  background-color: shade($tg-secondary, 30);
  color: $tg-text-alt;
}
.tg-secondary-darkest {
  background-color: shade($tg-secondary, 70);
  color: $tg-text-alt;
}
// - TUgood neutral

.tg-neutral-lightest {
  background-color: tint($tg-neutral, 70);
  color: $tg-text;
}
.tg-neutral-lighter {
  background-color: tint($tg-neutral, 30);
  color: $tg-text;
}
.tg-neutral {
  background-color: $tg-neutral;
  color: $tg-text;
}
.tg-neutral-darker {
  background-color: shade($tg-neutral, 30);
  color: $tg-text-alt;
}
.tg-neutral-darkest {
  background-color: shade($tg-neutral, 70);
  color: $tg-text-alt;
}

// - TUgood supporting colors
.tg-negative-lighter {
  background-color: tint($tg-negative, 40);
  color: $tg-text-alt;
}
.tg-negative {
  background-color: $tg-negative;
  color: $tg-text-alt;
}
.tg-negative-darker {
  background-color: shade($tg-negative, 40);
  color: $tg-text-alt;
}

.tg-positive-lighter {
  background-color: tint($tg-positive, 40);
  color: $tg-text-alt;
}
.tg-positive {
  background-color: $tg-positive;
  color: $tg-text-alt;
}
.tg-positive-darker {
  background-color: shade($tg-positive, 40);
  color: $tg-text-alt;
}

.tg-alert-lighter {
  background-color: tint($tg-alert, 40);
  color: $tg-text-alt;
}
.tg-alert {
  background-color: $tg-alert;
  color: $tg-text-alt;
}
.tg-alert-darker {
  background-color: shade($tg-alert, 40);
  color: $tg-text-alt;
}

.tg-logout {
  background-color: #D32F2F;
  color: white;
}
