<mat-toolbar class="menu full-width tg-secondary">
  <div class="menu-container full-width">
    <button [routerLink]="['create-request']" mat-icon-button>
      <mat-icon>add_circle</mat-icon>
    </button>
    <div class="div-icon-width"></div>
    <button [routerLink]="['helper']" mat-icon-button>
      <mat-icon svgIcon="tugood"></mat-icon>
    </button>
    <div class="div-icon-width"></div>
    <button mat-icon-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
    </button>
    <div class="div-icon-width"></div>
    <button mat-icon-button [routerLink]="['notification']">
      <mat-icon  [matBadgeHidden]="!notificationCount()" matBadge="&#8288;" matBadgeColor="primary"
                                                         matBadgeOverlap="true" matBadgeSize="small">notifications
      </mat-icon>
    </button>
    <div class="div-icon-width"></div>
    <button mat-icon-button [routerLink]="['settings']">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>


