@import "src/styles/main";

:host {
  width: 100%;
}

.details-container {
  padding: $space2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.rating-container {
  margin-top: $space2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
  border-radius: $space1_5;
  padding: $space1_5;
}

.rating-container.right {
  margin-top: $space1_5;
  align-items: flex-end;
}

.rating-title {
  font-size: $fs5;
  text-align: center;
}
