<div *ngIf="match && loggedInUser" class="details-container">
  <tg-match [match]="match" [loggedInUser]="loggedInUser"></tg-match>
  <div *ngIf="match.completionInfo" class="margin-top2">
    <div class="rating-title" i18n="@@match.detail.rating">Bewertungen</div>
    <div *ngIf="match.completionInfo?.helperRating" class="rating-container">
      <div>{{match.helper.firstName}} {{match.helper.lastName}}</div>
      <tg-star-rating class="margin-top1" [rating]="match.completionInfo.helperRating.rating"></tg-star-rating>
      <div class="margin-top1">{{match.completionInfo.helperRating.comment}}</div>
    </div>
    <div *ngIf="match.completionInfo?.requesterRating" class="rating-container right">
      <div>{{match.helpRequest.requester.firstName}} {{match.helpRequest.requester.lastName}}</div>
      <tg-star-rating class="margin-top1" [rating]="match.completionInfo.requesterRating.rating"></tg-star-rating>
      <div class="margin-top1">{{match.completionInfo.requesterRating.comment}}</div>
    </div>
  </div>
  <button *ngIf="amIHelper() && canHelperRate()" (click)="openRatingDialog()" class="tg-primary full-width margin-top3"
          mat-flat-button i18n="@@match.detail.button.complete">
    Abschließen
  </button>
  <button *ngIf="amIRequester() && canRequesterRate()" (click)="openRatingDialog()"
          class="tg-primary full-width margin-top3" mat-flat-button
          i18n="@@match.detail.button.rate">
    Bewerten
  </button>
</div>
