<div class="create-request-summary-details-container">
  <tg-help-request [helpRequest]="helpRequest"></tg-help-request>
</div>

<button (click)="onConfirm()" [routerLink]="''"
        class="tg-primary full-width margin-top3" mat-flat-button
        i18n="@@create.request.summary.button.submit">
  Bestätigen
</button>
