@import "main";

:host {
  width: 100%;
  height: 100%;
}

.create-request-summary-details-container {
  margin-top: $space2;
  padding: $space2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
