@import "main";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-icon-width {
  width: 24px;
}

.div-icon-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}
