<mat-toolbar *ngIf="$headerState | async as headerState" class="header full-width tg-secondary">
  <div class="header-container full-width">
    <div class="div-icon-width">
      <button (click)="headerState.showBackCallback()" *ngIf="headerState.showBack" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="div-icon-height">
      {{headerState.text}}
    </div>
    <div class="div-icon-width">
      <button *ngIf="headerState.menu.length > 0" mat-icon-button [matMenuTriggerFor]="contextMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #contextMenu="matMenu">
    <button *ngFor="let menuItem of headerState.menu" mat-menu-item
            (click)="menuItem.callback()">{{menuItem.name}}</button>
  </mat-menu>
</mat-toolbar>


