<h1 mat-dialog-title i18n="@@rate-limit.text.title">Zu viele Anfragen</h1>
<mat-dialog-content>
  <p i18n="@@rate-limit.text.description">Sie haben bereits zu viele Anfragen erstellt/angenommen.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onOKClick()" class="tg-primary full-width margin-top3"
          mat-flat-button>
    OK
  </button>
</mat-dialog-actions>
