@import "abstracts/variables";
@import url("https://fonts.googleapis.com/css?family=Open Sans|Roboto|Pacifico|Fira Code|Dosis");

.headline {
  font-family: "Roboto", sans-serif;
  font-weight: $fw3;
  font-size: $fs7;
  letter-spacing: -0.03em;
  line-height: 1;
  vertical-align: baseline;

  &.thick {
    font-weight: $fw5;
  }

  &.bold {
    font-weight: $fw4;
  }
}

.tg-legible-hl {
  font-family: "Dosis", sans-serif;
  font-weight: $fw3;
  font-size: $fs7;
  letter-spacing: -0.03em;
  line-height: 1;
  vertical-align: baseline;

  &.thick {
    font-weight: $fw5;
  }

  &.bold {
    font-weight: $fw4;
  }
}

.tg-friendly-hl {
  font-family: "Pacifico", cursive;
  font-weight: $fw3;
  font-size: $fs7;
}

.tg-debug {
  font-family: "Fira Code", monospace;
  vertical-align: baseline;
  line-height: 1.75;
}

.title {
  font-weight: $fw2;
  letter-spacing: -0.02em;
  line-height: 1;
  vertical-align: baseline;
}


body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
}

.h100 {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.w100 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// ------------ Font size
.fs1 {
  font-size: $fs1;
}

.fs2 {
  font-size: $fs2;
}

.fs3 {
  font-size: $fs3;
}

.fs4 {
  font-size: $fs4;
}

.fs5 {
  font-size: $fs5;
}

.fs6 {
  font-size: $fs6;
}

.fs7 {
  font-size: $fs7;
}

.fs8 {
  font-size: $fs8;
}

.fs9 {
  font-size: $fs9;
}

// ------------ Font weight
.fw1 {
  font-weight: $fw1;
}

.fw2 {
  font-weight: $fw2;
}

.fw3 {
  font-weight: $fw3;
}

.fw4 {
  font-weight: $fw4;
}

.fw5 {
  font-weight: $fw5;
}
