$content-height: 76vh;

$fs1: 12px;
$fs2: 14px;
$fs3: 16px;
$fs4: 18px;
$fs5: 20px;
$fs6: 24px;
$fs7: 32px;
$fs8: 48px;
$fs9: 66px;

$fw1: 300;
$fw2: 400;
$fw3: 500;
$fw4: 700;
$fw5: 900;

$space1: 5px;
$space1_5: 10px;
$space2: 16px;
$space3: 30px;
$space4: 50px;
$space5: 80px;
$space6: 120px;

$size1: 15px;
$size2: 30px;
$size3: 50px;
$size4: 80px;
$size5: 150px;
$size6: 200px;
$size7: 280px;
$size8: 412px;
$size9: 550px;
$size10: 800px;
$size11: 1200px;
$size12: 1800px;

$tg-primary: hsl(43, 100%, 49%);
$tg-secondary: hsl(213, 100%, 34%);
$tg-neutral: hsl(0, 0%, 53%);
$tg-negative: hsl(343, 58%, 46%);
$tg-positive: hsl(89, 85%, 35%);
$tg-positive-lighter: tint($tg-positive, 40);
$tg-alert: hsl(31, 79%, 48%);
$tg-text: hsl(0, 0%, 5%);
$tg-text-alt: hsl(0, 0%, 95%);

$tg-br-normal: 0px;
$tg-br-soft: 5px;
$tg-br-softer: 10px;

$flying-shadow1: 0 1px 3px hsla(0, 0%, 0%, 0.15),
0 1px 2px 0 hsla(0, 0%, 0%, 0.25);
$flying-shadow2: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 3px hsla(0, 0%, 0%, 0.2);
$flying-shadow3: 0 6px 15px hsla(0, 0%, 0%, 0.15),
0 3px 5px hsla(0, 0%, 0%, 0.15);
$flying-shadow4: 0 10px 20px hsla(0, 0%, 0%, 0.15),
0 4px 10px hsla(0, 0%, 0%, 0.1);
$flying-shadow5: 0 15px 25px hsla(0, 0%, 0%, 0.15),
0 5px 15px hsla(0, 0%, 0%, 0.05);
