@import "main";

:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .empty-task-message {
    margin-top: $space1_5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content {
  max-height: 1000px;
  overflow: hidden;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

