<div class="container margin-top2">
  <div *ngIf="reportList; else abuseSpinner">
    <div class="container-row">
      <button [disabled]="!hasPrevious()" (click)="goFirst()" mat-button>
        <mat-icon>first_page</mat-icon>
      </button>
      <button [disabled]="!hasPrevious()" (click)="goPrevious()" mat-button>
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button [disabled]="!hasNext()" (click)="goNext()" mat-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button [disabled]="!hasNext()" (click)="goLast()" mat-button>
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
    <mat-card *ngFor="let report of reportList" class="margin-top1">
      <div class="content">
        <tg-report [report]="report" (reportChanged)="reloadReports()"></tg-report>
      </div>
    </mat-card>
    <div *ngIf="reportList.length === 0"
         class="full-width empty-task-message"
         i18n="@@request.list.noopenrequests">
      Keine offenen Anfragen vorhanden.
    </div>
  </div>
  <ng-template #abuseSpinner>
    <tg-tugood-spinner [$request]="$reportList"></tg-tugood-spinner>
  </ng-template>
</div>

