<div class="container-row ">
  <div class="container-column-left">
    <div class="flex-column flex-align-items-center">
      <tg-user-image [imagePath]="imagePath"></tg-user-image>
    </div>
  </div>
  <div class="container-column-center">
    <mat-basic-chip [ngClass]="getChipClass()" disabled="true">{{getTaskState()}}</mat-basic-chip>
  </div>
  <div class="container-column-right">
    <div class="fs5">
        <mat-icon>{{getTaskIcon()}}</mat-icon>
      </div>
      <div class="fs7">{{getTime()}}</div>
      <div class="fs5">{{getDate()}}</div>
    </div>
  </div>
  <div class="container-row margin-top1">
    <div class="container-column-left">
      <div class="fs5">
        {{getOtherUser().firstName}} {{getOtherUser().lastName}}
      </div>
      <tg-star-rating [rating]="getOtherUser().avgRating"></tg-star-rating>
      <div class="flex-column full-width margin-top1">
        <div class="flex-row flex-align-items-center">
          <mat-icon class="custom-icon">phone</mat-icon>
          {{getOtherUser().phoneNr}} <br>
        </div>
        <div class="flex-row flex-justify-space-between full-width">
          <div class="flex-row flex-align-items-center">
            <mat-icon class="custom-icon">location_on</mat-icon>
            <div>
              {{match.helpRequest.address.streetName}} {{match.helpRequest.address.streetNumber}} <br>
              {{match.helpRequest.address.postalCode}} {{match.helpRequest.address.city}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-column-right flex-justify-flex-end">
      <tg-map [tgLocation]="match.helpRequest.address.location"></tg-map>
    </div>
  </div>
  <div class="margin-top2">
    {{match.helpRequest.description}}
  </div>
