@import "main";

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-flex-end {
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.custom-icon {
  margin-right: $space1;
}

.mat-basic-chip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-radius: 2vh;
}

.chip-created {
  background-color: $tg-positive-lighter;
  color: #ffffff;
  pointer-events: none;
}

.chip-accepted {
  background-color: $tg-primary;
  color: #ffffff;
  pointer-events: none;
}

.chip-finished {
  background-color: $tg-positive;
  color: #ffffff;
  pointer-events: none;
}

.chip-cancelled {
  background-color: $tg-negative;
  color: #ffffff;
  pointer-events: none;
}

.chip-expired {
  background-color: $tg-neutral;
  color: #ffffff;
  pointer-events: none;
}
