<div class="spinner-container">
  <mat-spinner *ngIf="!error; else errorTemplate"></mat-spinner>
  <ng-template #errorTemplate>
    <h2>Ein Fehler ist aufgetreten :(</h2>
    <br>
    {{error?.name}}
  </ng-template>
</div>

