@import "main";

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $tg-secondary !important;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
