<div *ngIf="!isLoadingLimit; else spinner" class="full-height">
  <ng-container [ngSwitch]="createRequestProcessStep" class="full-height">
    <tg-category-select *ngSwitchCase="1" (categoryEmitter)="setCategory($event)"></tg-category-select>
    <tg-main-create-request (helpRequestEmitter)="setMainFields($event)" *ngSwitchCase="2"
                            [currentHelpRequest]="helpRequest"></tg-main-create-request>
    <tg-create-request-summary (confirmTaskEmitter)="confirmTask()" *ngSwitchCase="3"
                               [helpRequest]="helpRequest"></tg-create-request-summary>
  </ng-container>
</div>
<ng-template #spinner>
  <tg-tugood-spinner [$request]="$remaining"></tg-tugood-spinner>
</ng-template>
