@import "main";

:host {
  width: 100%;
}

.karma-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .empty-karma-history-message {
    margin-top: $space1_5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.balance-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: $tg-secondary;
}

.history-icon-container {
  font-size: 12px;
  color: $tg-secondary;
}

.karma-balance-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $space1_5;
}

.center-content {
  display: flex;
  align-content: center;
}

.karma-history-card-content {
  margin-bottom: $space1_5;
  margin-left: $space1_5;
  margin-right: $space1_5;
}
