<div *ngIf="!isLoading; else spinner" class="karma-container">
  <mat-card class="karma-balance-card">
    <em class="fa fa-diamond fa-5x balance-icon-container"></em>
    <span i18n="@@karma.total.points">
      Ihr Guthaben:
    </span>{{karmaSummary.karmaPoints}}
  </mat-card>

  <mat-card *ngFor="let karmaChange of karmaSummary.karmaChangeHistory" class="karma-history-card-content">
    <mat-card-header>
      <div mat-card-avatar>
        <em class="fa fa-diamond fa-5x history-icon-container"></em>
      </div>
      <mat-card-title class="center-content">
        <span *ngIf="karmaChange.value > 0">+</span> {{karmaChange.value}} &nbsp; <span
        i18n="@@karma.points"> Punkte</span>
      </mat-card-title>
      <mat-card-subtitle class="center-content">{{getDateAsString(karmaChange.timestamp)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{getCauseAsString(karmaChange.type)}} <span
      *ngIf="karmaChange.type === 'THIRD_PARTY_TRANSACTION'">{{karmaChange.thirdPartyClient}}</span>
    </mat-card-content>
  </mat-card>

  <div *ngIf="karmaSummary.karmaChangeHistory.length === 0"
       class="full-width empty-karma-history-message"
       i18n="@@karma.history.list.nohistory">
    Keine Karma-Einträge vorhanden.
  </div>
</div>

<ng-template #spinner>
  <tg-tugood-spinner [$request]="$karmaSummary"></tg-tugood-spinner>
</ng-template>
