@import "variables";

@mixin make-out-shadow($light-color) {
  box-shadow: inset 0 2px 0 $light-color, 1px 2px 4px hsla(0, 0%, 0%, 0.3);
}

@mixin make-in-shadow($light-color) {
  box-shadow: -1 1px 0 $light-color, inset 0 1px 3px hsla(0, 0%, 0%, 0.25);
}

@mixin insetTextShadow {
  color: transparent;
  text-shadow: 0 1px 3px hsla(224, 30%, 85%, 0.5);
  background-color: $tg-neutral;
}

@mixin label {
  font-weight: $fw4;
  font-size: $fs4;
  @include insetTextShadow;
  margin-top: $space3;
  margin-bottom: $space1;
  line-height: 1.2;
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin default-border() {
  border-style: solid;
}
